/* for cart  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: interregular, sans-serif, monospace, arial, helvetica neue,
    helvetica, arial, geneva, times new roman;
  font-weight: 500;
  letter-spacing: 0.2px;
}
/* cart */

#cart-container {
  overflow-x: auto;
}
#cart-container table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  white-space: nowrap;
}
#cart-container table thead {
  font-weight: 700;
}
#cart-container table thead td {
  background-color: #f8c808;
  color: black;
  border: none;
  padding: 6px 0;
}
#cart-container table thead td {
  /* border: 1px solid rgb(138, 133, 133); */
  text-align: center;
}
#cart-container table td:nth-child(1),
#cart-container table td:nth-child(2) {
  width: 250px;
}
#cart-container table td:nth-child(6) {
  width: 100px;
}
#cart-container table td:nth-child(3),
#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5) {
  width: 150px;
}
#cart-container table tbody #Image {
  width: 80%;
  margin: auto;
}
#cart-container table tbody #Image img {
  width: 100%;
  object-fit: cover;
  mix-blend-mode: darken;
}
#cart-bottom .coupon > div,
#cart-bottom .total > div {
  /* border:1px solid black ; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#cart-bottom .coupon h5,
#cart-bottom .total h5 {
  background-color: #f8c808;
  color: black;
  border: none;
  padding: 6px 12px;
  font-weight: 700;
}
#cart-bottom .coupon p,
#cart-bottom .coupon input {
  padding: 0 12px;
}
#cart-bottom .coupon input {
  height: 44px;
  margin: 0 0 20px 12px;
}

tbody tr:hover {
  background-color: antiquewhite;
  /* background-color: rgb(0, 0, 0, 0.1); */
  transform: scale(1.02);
}
tbody tr td .pm_button {
  width: 25px;
  height: 25px;
  border: none;
  font-size: medium;
  border-radius: 50%;
  background: #f8c808;
}
tbody tr td .pm_button:hover {
  transform: scale(1.2);
}
tbody tr td input {
  width: 25px;
  height: 25px;
  border: none;
  text-align: center;
}
tbody > tr > td > div {
  display: flex;
  justify-content: center;
}
#heading > hr {
  color: #f8c808;
}

tbody > tr > td:nth-child(2) ~ td {
  text-align: center;
}

tbody > tr > td:nth-child(2) > p {
  white-space: break-spaces;
}

tbody > tr > td > div > img {
  mix-blend-mode: darken;
}

#Submit {
  border: none;
  height: 30px;
  width: 70px;
  background: #f8c808;
  border-radius: 5px;
}
#Submit:hover {
  transform: scale(1.2);
}
tbody tr td a i:hover {
  transform: scale(1.3);
}

#cart-bottom .total div > div {
  padding: 0 12px;
}
.total {
  margin-bottom: 50px;
}
.total div {
  display: flex;
  flex-direction: column;
}
.total div .b_cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.total div #Checkout:hover {
  transform: scale(1.07);
}
.b_cart {
  display: flex;
}
.total div #Checkout {
  align-self: flex-end;
  padding: 10px;
  border-radius: 10px;
  background: #f8c808;
  border: none;
  color: black;
  font-weight: 700;
}
.coupon div button:hover {
  transform: scale(1.07);
}
.coupon div button {
  padding: 10px;
  border-radius: 10px;
  background: #f8c808;
  border: none;
  color: black;
  font-weight: 700;
}
.second-hr {
  background-color: rgb(165, 162, 162);
  width: 100%;
  height: 2px;
}
#cart-bottom .total div > button {
  margin: 0 12px 20px 0;
  display: flex;
  justify-content: flex-end;
}
#price {
  text-decoration: line-through;
}
#cart-container #Empty_Display {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

/* for popup */
.popup {
  z-index: 2;
  width: 400px;
  background: #fffafa;
  border-radius: 6px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  /* visibility: hidden; */
  display: none;
  transition: transform 0.4s, top 0.4s;
}
.open-popup {
  display: block;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}
.popup img {
  width: 100px;
  height: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2 {
  font-size: 40px;
  font-weight: 500;
  margin: 30px 0 10px;
}
.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background-color: #f8c808;
  border: none;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

tbody tr td:nth-child(2) > p {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

#continuetohome {
  text-decoration: 1px dotted underline;
  color: rgb(248, 148, 8);
  /* font-weight: bold; */
  text-underline-offset: 4.5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
}

#emptyDisplay > p:nth-child(2) {
  font-size: 20px;
}
