* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  height: 100vh;
}

.container {
  padding: 0px 10%;
}

.details_first {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.headings {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue";
  font-size: 20px;
  color: rgb(51, 62, 72);
  font-weight: 400;
}

.other_specs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100% !important;
}

.other_specs > #detail_append {
  width: 100%;
}

#detail_append > table {
  width: 80% !important;
}

#detail_append > table tbody tr tr {
  border-bottom: 1px solid rgb(0, 0, 0, 0.2) !important;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

#detail_append > table {
  width: 100% !important;
}

#detail_append > table tbody tr td {
  width: 100% !important;
  white-space: nowrap;
  padding: 5px 0px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.spec_title {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 40px;
}

.headings {
  height: 100%;
  cursor: pointer;
}

.t-active {
  font-weight: 500;
  border-bottom: 2px solid black;
}

.main_image {
  height: 300px !important;
  border-radius: 4px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.images_left {
  width: 35%;
}

.product_details_right {
  width: 65%;
}

.thumbnails {
  border: 1px solid rgb(0, 0, 0, 0.1) !important;
  border-radius: 4px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.container {
  margin-top: 2%;
}

#detail_append {
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 30px;
  min-height: 300px;
  min-width: 70%;
}

.hightlights {
  padding: 20px 30px;
  font-size: 18px;
}

.hightlights > ul {
  line-height: 24px;
  color: rgb(125, 125, 125);
}
.product_details_right {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 18px;
}

.product_details_right > p:nth-child(2) {
  font-size: 27px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 36px;
}

.product_details_right > p:nth-child(4) {
  font-size: 17px;
  color: rgb(124, 124, 124);
  color: rgb(125, 125, 125);
}

.product_details_right > div:nth-child(5) {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 25px;
  color: rgb(236, 81, 15);
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  line-height: 35px;
}

.discount {
  font-size: 14px;
  vertical-align: middle;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 3px;
  color: rgb(124, 124, 124);
}

.product_details_right > p > span.strike-through {
  font-size: 17px;
  text-decoration: line-through;
}

.product_details_right > div:nth-last-of-type(2) {
  display: flex;
  gap: 10px;
}

.product_details_right > div:nth-last-of-type(2) > button {
  height: 47px;
  width: 200px;
  max-width: 100%;
  font-size: 16px;
  background-color: rgb(248, 200, 8);
  color: black;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.product_details_right > div:nth-last-of-type(2) > input {
  padding: 0px 15px;
  max-width: 100%;
  width: 200px;
  font-size: 16px;
  background-color: white;
  color: black;
  outline: none;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 7px;
  margin: 0.5px;
  height: inherit;
}

#detail_append {
  line-height: 27px;
  font-size: 17px;
}

#category {
  font-size: 15px;
  font-weight: bold;
  color: rgb(0, 0, 0, 0.6);
}

#category::first-letter {
  text-transform: uppercase;
}

th[colspan="2"] {
  font-size: 20px;
  font-weight: 500;
  border: none;
  display: none;
}

.thumbnails.is-active {
  border: 1px solid rgb(0, 0, 0, 0.4) !important;
}

@media screen and (max-width: 1450px) {
  .details_first {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }

  #prod_name {
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 10px;
  }

  .images_left,
  .product_details_right {
    width: 100%;
  }

  .headings {
    font-size: 15px;
  }
}

@media screen and (max-width: 671px) {
  .details_first {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }

  .images_left,
  .product_details_right {
    width: 100%;
  }

  #detail_append > table tbody tr td {
    white-space: normal;
  }
}

@media screen and (max-width: 649px) {
  .details_first {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }

  .images_left,
  .product_details_right {
    width: 100%;
  }

  #detail_append > table tbody tr td {
    white-space: normal;
  }

  #discount + div {
    flex-direction: column;
  }
  #discount + div > input {
    height: 48px;
  }
}
@media screen and (max-width: 471px) {
  .details_first {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }

  .images_left,
  .product_details_right {
    width: 100%;
  }

  .headings {
    font-size: 13px;
  }
}
