@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: interregular, sans-serif, monospace, arial, helvetica neue,
    helvetica, arial, geneva, times new roman;
  font-weight: 500;
  letter-spacing: 0.2px;
  /* border: 1px solid black; */
}

::selection {
  background-color: rgb(242, 208, 71);
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(65, 65, 65);
  border: 3px solid white;
  border-radius: 9999px;
}

.nav_top {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  color: rgb(0, 0, 0, 0.4);
  color: rgb(0, 0, 0, 0.5);
  height: 48px;
  align-items: center;
  padding: 16px 0px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 3px 5px;
  font-size: 15px;
  padding: 0 5%;
}

.top_first {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_first > a {
  text-decoration: none;
  color: rgb(0, 0, 0, 0.4);
  color: rgb(0, 0, 0, 0.5);
  font-size: 15px;
}

.vertical_line {
  height: 12px;
  border-left: 2px solid rgb(184, 184, 187);
  margin: 0px 8px;
}

.top_third {
  display: flex;
  align-items: center;
  gap: 6px;
}

.top_second > span > strong {
  font-weight: 600;
  color: rgb(0, 0, 0, 0.4);
}

.logo-text {
  color: rgb(243, 182, 8);
  font-weight: 600;
  font-family: n;
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

.middle_nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  height: 80px;
  background-color: rgb(248, 248, 248);
  padding: 0 10%;
}

.middle_nav > .middle_first {
  width: 100%;
}

.middle_nav > .middle_second {
  display: flex;
  align-items: center;
  height: inherit;
  width: 30%;
  width: 100%;
}

.middle_nav > .middle_second > .searchbox_outer {
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 400px;
}

.middle_nav > .middle_second > .searchbox_outer > #searchbtn {
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 45px;
  background-color: rgb(248, 200, 8);
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  cursor: text;
}

.middle_nav > .middle_second > .searchbox_outer > input {
  z-index: 2;
  height: inherit;
  width: 100%;
  padding: 0px 10px;
  border: none;
  background-color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.middle_nav > .middle_second > .searchbox_outer > input::placeholder {
  color: rgb(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.5);
}

div.middle_nav > div.middle_second > div.searchbox_outer > input:focus {
  border: none;
  outline: 1px solid rgb(0, 0, 0, 0.2);
}

.middle_third {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
  height: inherit;
}

.middle_third > a,
.myaccount > a {
  text-decoration: none;
  color: rgb(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  -webkit-box-align: center;
  height: 100% !important;
}

.middle_third a:hover {
  color: rgb(0, 0, 0);
  transition-duration: 200ms;
}

.middle_third > a:nth-of-type(2) > i {
  transform: translateY(1px);
  margin-left: 4px;
}

.middle_third > a > i {
  position: relative;
}

.middle_third > a > i > div {
  font-size: 15px;
}

.middle_third > a:last-of-type {
  transform: translateY(2px);
}

.item_count {
  box-sizing: content-box;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -25px;
  right: -12px;
  background-color: rgb(248, 200, 8);
  width: 20px;
  height: 20px;
  padding: 2px;
  border-radius: 50%;
  overflow: hidden;
}

.bottom_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 50px;
  align-items: center;
  padding: 16px 0px;
  background-color: white;
  font-size: 15px;
  padding: 0 5%;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.bottom_nav > a {
  text-decoration: none;
  color: rgb(0, 0, 0, 0.5);
  color: rgb(0, 0, 0, 0.6);
  font-weight: 500;
  height: inherit;
  display: -webkit-box;
  -webkit-box-align: center;
}

.bottom_nav > a:hover {
  color: rgb(248, 200, 8);
  border-bottom: 1px solid rgb(248, 200, 8);
  /* transition-duration: 300ms;
  text-decoration: 2px solid rgb(248, 200, 8) underline;
  text-underline-offset: 17px; */
}

.myaccount {
  position: relative;
  height: 100%;
}

.myaccount-details > a {
  white-space: nowrap;
  padding: 10px 10px;
  border-radius: 5px;
  color: black;
  text-decoration: none;
}

.myaccount-details > a:hover {
  background-color: rgb(248, 200, 8);
  color: black;
  transition-duration: 100ms;
}

.myaccount > .myaccount-details {
  z-index: 1;
  display: none !important;
  margin-top: -15px;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 10px 8px;
  background-color: white;
  /* width: 150px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
}

.myaccount > .myaccount-details:hover {
  display: flex !important;
}

.myaccount:hover .myaccount-details {
  display: flex !important;
}

.blackBack {
  display: none;
  top: 0;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  opacity: 0.4;
  opacity: 0.1;
}

.search_result_list {
  position: absolute;
  background-color: white;
  z-index: 4;
  top: 60px;
  /* width: 540px; */
  display: none;
  flex-direction: column;
  padding: 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 600px;
  overflow-y: scroll;
  border-radius: 5px;
  left: 0;
  scale: 1;
  animation-name: search_list;
  animation-duration: 200ms;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}

@keyframes search_list {
  0% {
    /* width: 0; */
    scale: 0;
  }
  100% {
    scale: 1;
  }
}

@keyframes upwards {
  0% {
    top: -100;
  }
  100% {
    top: 43px;
  }
}

.search_card {
  display: flex;
  cursor: pointer;
}

.search_card > .search_body {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search_card > div.search_image_outer {
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_card > div > img {
  height: 50px;
  width: 50px;
}

.vertical-line {
  margin: 8px 0px;
  border-top: 1px solid rgb(0, 0, 0, 0.1);
}

.search_card > .search_body > p:first-child {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
}

.uparrow {
  z-index: 3;
  display: none;
  position: absolute;
  width: 20px;
  top: 43px;
  justify-content: center;
  padding: 6.5px;
  width: 32px;
  left: 50%;
  transform: translate(-50%);
  height: 32px;
  border-radius: 50%;
  animation-name: upwards;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid rgb(255, 255, 255);
}

.sidebar {
  position: fixed;
  display: none;
  flex-direction: column;
  background-color: white;
  width: 300px;
  padding: 20px;
  left: 0;
  top: 0;
  z-index: 5;
  height: 100vh;
  animation: sidebar_an 80ms 1 alternate;
}

@keyframes sidebar_an {
  0% {
    left: -1000px;
  }
  100% {
    left: 0;
  }
}

.black {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: black;
  opacity: 0.1;
  z-index: 1;
  top: 0;
  right: 0;
}

.sidebar > .middle_first > .logo-text {
  font-size: 25px;
  width: 100%;
  white-space: nowrap;
  filter: drop-shadow(0px 2px 1px black);
}

.sidebar > .middle_first {
  padding: 0px 20px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.sidebar > a {
  text-decoration: none;
  padding: 10px 20px;
  width: 100%;
  color: black;
  border-radius: 5px;
  margin: -4px 0px;
}

div.sidebar_account > .myaccount-details {
  top: 20px;
  position: absolute;
  left: 120px;
}

div.sidebar_account > a {
  color: black;
  cursor: pointer;
  height: auto !important;
}
div.sidebar_account {
  position: relative;
  width: 100%;
  padding: 5px 20px;
  display: block;
  color: black;
}

.sidebar > a:hover {
  background-color: rgb(243, 182, 87);
}

.middle_first {
  display: flex;
  align-items: center;
}

.middle_first > div:hover {
  background-color: rgb(243, 182, 87);
}
.middle_first > div:hover > i {
  color: white !important;
  transition-duration: 500ms;
}
.middle_first > div {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: -35px;
  background-color: white;
}

.menu {
  display: none;
  cursor: pointer;
}

.search_outer_mob {
  display: flex;
  justify-content: flex-start;
  padding: 5px 20px;
}

.search_outer_mob > input {
  height: 37px;
  outline: none;
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0px 10px;
}

.search_outer_mob > button {
  background-color: rgb(243, 182, 87);
  outline: none;
  border: none;
  padding: 0px 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.hide_sidebar {
  display: none !important;
  /* width: 0px; */
}

a[href="/signin.html"].login_sidebar {
  padding-left: 23px;
}

@media screen and (max-width: 1150px) {
  .sidebar {
    display: flex;
  }

  .menu {
    display: block;
  }

  .nav_top,
  .bottom_nav,
  div.middle_nav > div.middle_second,
  .myaccount,
  a.garage,
  a[href="/signin.html"]:not(.login_sidebar) {
    display: none;
  }

  .logo-text {
    font-size: 24px;
    width: 100%;
    white-space: nowrap;
  }

  .middle_third {
    justify-content: flex-end;
  }
}
